{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="page-table-container" id="cash_flow_report-container">
        {% include "components/table.html" with id="cash_flow_report-table" fields=fields data=data %}
    </div>
    <div id="context-menu" class="dropdown-menu">
        <a class="dropdown-item context-action"
            id="detail-button"
            data-action="detail">Подробнее</a>
        <div class="dropdown-divider">
            </div>
        <a class="dropdown-item context-action"
               id="print-button"
               data-action="print">Печать</a>
    </div>
{% endblock content %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'main/js/main.js' %}" type="module"></script>
    <script src="{% static 'main/js/autonumeric.js' %}"></script>
    {{ data_ids|json_script:"data-ids" }}
{% endblock extra_scripts %}
