{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="page-table-container" id="money_transfers-container">
        {% include "components/table.html" with id="money_transfers-table" fields=fields data=data %}
        <div id="context-menu" class="dropdown-menu" data-is-admin="{{ is_admin|yesno:'true,false' }}">
            {% if is_admin %}
            <a class="dropdown-item context-action" id="add-button" data-action="add">Добавить</a>
            <a class="dropdown-item context-action" id="edit-button" data-action="edit">Редактировать</a>
            <a class="dropdown-item context-action" id="delete-button" data-action="delete">Удалить</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
    {{ block.super }}
	<script src="{% static 'main/js/main.js' %}" type="module"></script>
    <script src="{% static 'main/js/autonumeric.js' %}"></script>
    {{ data_ids|json_script:"data-ids" }}
{% endblock extra_scripts %}