<!DOCTYPE html>
{% load static %}
{% load components %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                Бизнес таблицы
            {% endblock title %}
        </title>
        <meta name="description"
              content="Бизнес таблицы - это веб-приложение для управления данными о поставщиках, счетах и движении денежных средств.">
        <meta name="keywords"
              content="Бизнес, Таблицы, Django, Python, Web Development" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" href="{% static 'css/loader.css' %}">
        <link rel="icon"
              href="{% static 'images/favicon.ico' %}"
              type="image/x-icon">
        {% block extra_styles %}
            {% render_styles %}
        {% endblock extra_styles %}
        {% block extra_scripts %}
            {% render_scripts %}
        {% endblock extra_scripts %}
    </head>
    <body>
        <div class="container">
            <main class="content">
                {% block content %}
                {% endblock content %}
            </main>
            {% if not request.user.user_type.name == "Поставщик" and request.user.user_type.name != "Ассистент" and request.user.user_type.name != "Филиал" %}
                <nav class="sidebar-nav">
                    <ul class="nav-list">
                        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                            <a href="{% url 'main:index' %}">
                                <img src="{% static 'images/nav/house.svg' %}"
                                    alt="Главная"
                                    class="icon"
                                    data-hint="Главная"
                                    height="12"
                                    width="12">
                                <span>Главная</span>
                            </a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'debtors' %}active{% endif %}">
                            <a href="{% url 'main:debtors' %}">
                                <img src="{% static 'images/nav/money-bill-wave.svg' %}"
                                    alt="Долги"
                                    class="icon"
                                    data-hint="Долги"
                                    height="12"
                                    width="12">
                                <span>Долги</span>
                            </a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'cash_flow' %}active{% endif %}">
                            <a href="{% url 'main:cash_flow' %}">
                                <img src="{% static 'images/nav/chart-line.svg' %}"
                                    alt="ДДС"
                                    class="icon"
                                    data-hint="ДДС"
                                    height="12"
                                    width="12">
                                <span>ДДС</span>
                            </a>
                        </li>
                        <li class="nav-item {% if 'accounts' in request.path %}active{% endif %}">
                            <a href="{% url 'main:supplier_accounts' %}">
                                <img src="{% static 'images/nav/wallet.svg' %}"
                                    alt="Остатки на счетах"
                                    class="icon"
                                    data-hint="Остатки на счетах"
                                    height="12"
                                    width="12">
                                <span>Остатки на счетах</span>
                            </a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'suppliers' %}active{% endif %}">
                            <a href="{% url 'main:suppliers' %}">
                                <img src="{% static 'images/nav/truck.svg' %}"
                                    alt="Поставщики"
                                    class="icon"
                                    data-hint="Поставщики"
                                    height="12"
                                    width="12">
                                <span>Поставщики</span>
                            </a>
                        </li>
                        <li class="nav-item {% if 'clients' in request.path %}active{% endif %}">
                            <a href="{% url 'main:clients' %}">
                                <img src="{% static 'images/nav/user-group.svg' %}"
                                    alt="Клиенты"
                                    class="icon"
                                    data-hint="Клиенты"
                                    height="12"
                                    width="12">
                                <span>Клиенты</span>
                            </a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'cash_flow_report' %}active{% endif %}">
                            <a href="{% url 'main:cash_flow_report' %}">
                                <img src="{% static 'images/nav/file-invoice-dollar.svg' %}"
                                    alt="Отчет ДДС"
                                    class="icon"
                                    data-hint="Отчет ДДС"
                                    height="12"
                                    width="12">
                                <span>Отчет ДДС</span>
                            </a>
                        </li>
                        {% if request.user.is_authenticated and request.user.user_type.name == "Администратор" %}
                        <li class="nav-item {% if request.resolver_match.url_name == 'users' %}active{% endif %}">
                            <a href="{% url 'main:users' %}">
                                <img src="{% static 'images/nav/users-gear.svg' %}"
                                    alt="Пользователи"
                                    class="icon"
                                    data-hint="Пользователи"
                                    height="12"
                                    width="12">
                                <span>Пользователи</span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item {% if request.resolver_match.url_name == 'exchange' %}active{% endif %}">
                            <a href="{% url 'main:exchange' %}">
                                <img src="{% static 'images/nav/arrow-right-arrow-left.svg' %}"
                                    alt="Обмен"
                                    class="icon"
                                    data-hint="Обмен"
                                    height="12"
                                    width="12">
                                <span>Обмен</span>
                            </a>
                        </li>
                        {% comment %} <li class="nav-item {% if request.resolver_match.url_name == 'money_transfers' %}active{% endif %}">
                            <a href="{% url 'main:money_transfers' %}">Перемещение ₽</a>
                        </li> {% endcomment %}
                        {% comment %} <li class="nav-item {% if request.resolver_match.url_name == 'profit_distribution' %}active{% endif %}">
                            <a href="{% url 'main:profit_distribution' %}">Распред. прибыли</a>
                        </li> {% endcomment %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
