{% load components %}
{% add_style 'css/modal-form.css' %}
<form class="modal-form" id="transactions-form" method="post">
    <div class="modal-form__content">
        {% csrf_token %}
        <div class="modal-form__group">
            {% include "components/select.html" with id="client" placeholder="Выберите клиента" %}
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="supplier" placeholder="Выберите поставщика" %}
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="account" placeholder="Выберите счет поставщика" %}
        </div>
        <div class="modal-form__group">
            <input class="modal-form__input"
                   type="text"
                   id="amount"
                   name="amount"
                   spellcheck="false"
                   placeholder="Введите сумму">
        </div>
        <div class="modal-form__group">
            <input class="modal-form__input"
                   id="client_percentage"
                   name="client_percentage"
                   spellcheck="false"
                   placeholder="Введите процент клиенту"
                   type="text"
                   step="0.1">
        </div>
        <div class="modal-form__group">
            <input class="modal-form__input"
                   id="supplier_percentage"
                   name="supplier_percentage"
                   spellcheck="false"
                   placeholder="Введите процент себестоимости"
                   type="text"
                   step="0.1">
        </div>
        <div class="modal-form__group">
            <input class="modal-form__input"
                   id="bonus_percentage"
                   name="bonus_percentage"
                   spellcheck="false"
                   placeholder="Введите процент бонуса, стандартно 0"
                   type="text"
                   step="0.1">
        </div>
        <div class="modal-form__buttons">
            <button class="button modal-form__button" type="submit">Сохранить</button>
            <button class="button modal-form__button button--cancel" type="button">Отменить</button>
        </div>
    </div>
</form>
