{% load components %}
{% add_style 'css/modal-form.css' %}
<form class="modal-form" id="money_transfers-form" method="post">
    <div class="modal-form__content">
        {% csrf_token %}
        <div class="modal-form__group">
            {% include "components/select.html" with id="source_supplier" placeholder="Выберите поставщика отправителя" %}
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="source_account" placeholder="Выберите счет отправителя" %}
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="destination_supplier" placeholder="Выберите поставщика получателя" %}
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="destination_account" placeholder="Выберите счет получателя" %}
        </div>
        <div class="modal-form__group">
            <input class="modal-form__input"
                   type="text"
                   id="amount"
                   name="amount"
                   spellcheck="false"
                   autocomplete="off"
                   placeholder="Введите сумму">
        </div>
        <div class="modal-form__group">
            <textarea class="modal-form__textarea"
                   id="comment"
                   name="comment"
                   spellcheck="false"
                   placeholder="Введите комментарий"
                   autocomplete="off"
            ></textarea>
        </div>
        <div class="modal-form__buttons">
            <button class="button modal-form__button" type="submit">Сохранить</button>
            <button class="button modal-form__button button--cancel" type="button">Отменить</button>
        </div>
    </div>
</form>
