{% load components %}
{% add_style 'css/modal-form.css' %}
<form class="modal-form" id="cash_flow-form" method="post">
    <div class="modal-form__content">
        {% csrf_token %}
        <input class="modal-form__input"
               type="text"
               id="operation_type"
               name="operation_type"
               hidden>
        <div class="modal-form__group">
            {% include "components/select.html" with id="supplier" placeholder="Выберите поставщика" %}
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="account" placeholder="Выберите счет поставщика" %}
        </div>
        <div class="modal-form__group">
            <input class="modal-form__input"
                   type="text"
                   id="amount"
                   name="amount"
                   spellcheck="false"
                   autocomplete="off"
                   placeholder="Введите сумму">
        </div>
        <div class="modal-form__group">
            {% include "components/select.html" with id="purpose" placeholder="Выберите назначение" %}
        </div>
        <div class="modal-form__group">
            <input class="modal-form__input"
                   type="text"
                   id="comment"
                   name="comment"
                   spellcheck="false"
                   autocomplete="off"
                   placeholder="Введите комментарий (необязательно)">
        </div>
        <div class="modal-form__group">
            <input class="modal-form__input"
                type="date"
                id="created_at_formatted"
                name="created_at_formatted"
                placeholder="Дата операции"
                autocomplete="off"
                hidden>
        </div>
        <div class="modal-form__buttons">
            <button class="button modal-form__button" type="submit">Сохранить</button>
            <button class="button modal-form__button button--cancel" type="button">Отменить</button>
        </div>
    </div>
</form>
